<ion-header>

  <ion-navbar color="primary">
    <ion-title>เพิ่มข้อมูล</ion-title>
    <ion-buttons end>
        <button ion-button  (click)="addData('')">
          <ion-icon name="plus"></ion-icon>Save
        </button>
      </ion-buttons>
  </ion-navbar>
 
</ion-header>


<ion-content padding>
  <div><h2>เลขที่บันทึก : {{senumber}} </h2></div>
  <ion-list>
    <ion-item>
      <ion-label>น้ำหนักทะลายปาล์มเฉลี่ย</ion-label>
      <ion-select [(ngModel)]="field_data[0].tweight" (ionChange)="changeweight()"  interface="action-sheet">
        <ion-option value="0" selected>0</ion-option>
        <ion-option *ngFor="let items of tweightchoice" [value]="items.val">{{items.stext}}</ion-option>
        <ion-option name="customyield" value="-1">ระบุ % Yield</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>ทะลายดิบ</ion-label>
      <ion-select [(ngModel)]="field_data[0].traw" (ionChange)="getpercent(this.field_data[0].traw,'1','traw')" interface="action-sheet">
        <ion-option value="0" selected>0 %</ion-option>
        <ion-option *ngFor="let item of percentchoinc" [value]="item">{{item}} %</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>ทะลายกึ่งสุก</ion-label>
      <ion-select [(ngModel)]="field_data[0].tripe" (ionChange)="getpercent(this.field_data[0].tripe,'1','tripe')" interface="action-sheet">
        <ion-option value="0" selected>0 %</ion-option>
        <ion-option *ngFor="let item of percentchoinc" [value]="item">{{item}} %</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>ทะลายเปล่า</ion-label>
      <ion-select [(ngModel)]="field_data[0].tblank" (ionChange)="getpercent(this.field_data[0].tblank,'1','tblank')" interface="action-sheet">
          <ion-option value="0" selected>0 %</ion-option>
        <ion-option *ngFor="let item of percentchoinc" [value]="item">{{item}} %</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>ทะลายไม่สมบูรณ์</ion-label>
      <ion-select [(ngModel)]="field_data[0].tincomplete" (ionChange)="getpercent(this.field_data[0].tincomplete,'1','tincomplete')" interface="action-sheet">
          <ion-option value="0" selected>0 %</ion-option>
        <ion-option *ngFor="let item of percentchoinc" [value]="item">{{item}} %</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>ทะลายก้านยาว</ion-label>
      <ion-select [(ngModel)]="field_data[0].tlong" (ionChange)="getpercent(this.field_data[0].tlong,'2','tlong')" interface="action-sheet">
          <ion-option value="0" selected>0 %</ion-option>
        <ion-option *ngFor="let item of percentchoinc" [value]="item">{{item}} %</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>ทะลายเก่า</ion-label>
      <ion-select [(ngModel)]="field_data[0].told" (ionChange)="getpercent(this.field_data[0].told,'2','told')" interface="action-sheet">
          <ion-option value="0" selected>0 %</ion-option>
        <ion-option *ngFor="let item of percentchoinc" [value]="item">{{item}} %</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>ทะลายสกปรก</ion-label>
      <ion-select [(ngModel)]="field_data[0].tdirty" (ionChange)="getpercent(this.field_data[0].tdirty,'2','tdirty')" interface="action-sheet">
          <ion-option value="0" selected>0 %</ion-option>
        <ion-option *ngFor="let item of percentchoinc" [value]="item">{{item}} %</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>ทะลายพันธ์ดูร่าปาล์ม</ion-label>
      <ion-select [(ngModel)]="field_data[0].tdula" (ionChange)="getpercent(this.field_data[0].tdula,'2','tdula')" interface="action-sheet">
          <ion-option value="0" selected>0 %</ion-option>
        <ion-option *ngFor="let item of percentchoinc" [value]="item">{{item}} %</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>ทะลายมีลักษณะสดและมีรอยรถน้ำ</ion-label>
      <ion-select [(ngModel)]="field_data[0].twater" (ionChange)="getpercent(this.field_data[0].twater,'2','twater')" interface="action-sheet">
          <ion-option [value]="0" selected>0 %</ion-option>
          <ion-option *ngFor="let item of twaterchoice" [value]="item.val">{{item.stext}} %</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  
  
</ion-content>
<ion-footer>
    <div style="width:100%;display:block;text-align:center;">
      <h3>% น้ำมันปาล์ม : {{pcc}} %</h3>
    </div>
  </ion-footer>
